.euichan_logo{
    font-family: 'Lobster', cursive;
}

.euichan_footer_button{
    font-size: .9rem;
}

.euichan_footer{
    text-align: center; margin-top: 2rem;
}

.euichan_header{
    text-align: center; margin: 2rem 0;
}

@media screen and (max-width:500px) {
    html {
        font-size: 13px;
    }
}

a {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}

.euichan_header_nav {
    margin: 0 0.5rem;
}

.euichan_header_navbar {
    margin: 1rem 0;
}