<div class="euichan_header">
    <div>
        <h1 class="euichan_logo">Euichan</h1>
    </div>
    <div style="euichan_header_navbar">
        <a href="{% url 'articleapp:list' %}"style="euichan_header_nav; color:black; text-decoration: none;">
            <span>Articles</span>
        </a>
        <a href="{% url 'projectapp:list' %}"style="euichan_header_nav; color:black; text-decoration: none;">
            <span>Projects</span>
        </a>
        <a href="{% url 'subscribeapp:list' %}"style="euichan_header_nav; color:black; text-decoration: none;">
            <span>Subscription</span>
        </a>


        {% if not user.is_authenticated %}
        <a href="{% url 'accountapp:login' %}?next={{ request.path }}"style="euichan_header_nav; color:black; text-decoration: none;">
            <span>login</span>
        </a>

        <a href="{% url 'accountapp:create' %}"style="euichan_header_nav; color:black; text-decoration: none;">
            <span>SignUp</span>
        </a>

        {% else %}
        <a href ="{% url 'accountapp:detail' pk=user.pk %}"style="euichan_header_nav; color:black; text-decoration: none;">
            <span>Mypage</span>
        </a>

        <a href ="{% url 'accountapp:logout' %}?next={{ request.path }}"style="euichan_header_nav; color:black; text-decoration: none;">
            <span>logout</span>
        </a>

        {% endif %}
    </div>
</div>